@model IEnumerable<RideshareIdentityFramework.Models.Transaction>

@{
    ViewBag.Title = "Index";
    <link href="~/Content/find-a-ride.css" rel="stylesheet" />
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                
            </div><!--end of .table-responsive-->
        </div>
    </div>
</div>
