@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/homePage.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="topimg">

</div>

<section class="wrapper-fostrap">
    <div class="container-fostrap">
        <div>
            <h1 class="heading">
                How it works
            </h1>
            <p> We matches drivers who have empty seats with passengers heading the same direction.</p>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="card">
                            <a class="img-card" href="">
                                <img src="~/Images/the-passenger.gif" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">
                                        For Passengers
                                    </a>
                                </h4>
                                <p class="">
                                    Get a ride with someone in their car, its affordable and convenient
                                    <div class="pricing-body">
                                        <ul class="pricing-features">
                                            <li>Free Sign Ups<i class="fa fa-check"></i></li>
                                            <li>Affordable Rides<i class="fa fa-check"></i></li>
                                            <li>Safe, reliable drivers<i class="fa fa-check"></i></li>
                                        </ul>
                                    </div>
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Find a Ride
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="card">
                            <a class="img-card" href="">
                                <img src="~/Images/the-driver.gif" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">
                                        For Drivers
                                    </a>
                                </h4>
                                <p class="">
                                    Make money by filling your empty seats when you're driving from A to B
                                    <div class="pricing-body">
                                        <ul class="pricing-features">
                                            <li>Free Sign Ups<i class="fa fa-check"></i></li>
                                            <li>Free Online Payouts<i class="fa fa-check"></i></li>
                                            <li>Safe, reliable passengers<i class="fa fa-check"></i></li>
                                        </ul>
                                    </div>
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    Post a trip
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>